<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up | KitereSafety</title>
    <link rel="stylesheet" href="core.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/4175a2b915.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <a href="index.html" class="logo">KitereSafety</a>
        <div class="nav-links" id="navLinks">
            <div>
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="blog.html">Community</a></li>
                    <li><a href="report-home.html">Report</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="careers.html">Careers</a></li>
                </ul>
            </div>
            <div class="links">
                <!-- {% if user.is_authenticated %} -->
                <li><a href="notifications.html">Notifications</a></li>
                <!-- <div class="logout-btn">
                    <form action="{% url 'logout' %}" method="post">
                        <button type="submit" class="logout-btn">Logout</button>
                    </form>
                </div> -->
                <!-- {% else %} -->
                <li><a href="login.html">Login</a></li>
                <!-- {% endif %} -->
                </ul>
            </div>

        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>

    <main>
        <div class="form-body">
            <div>
                <h1>Sign up</h1>
                <form method="post">
                    <div>
                        <label>Username</label><br>
                        <input type="text" placeholder="Enter your email">
                    </div>
                    <div>
                        <label>Email</label><br>
                        <input type="email" placeholder="Enter your email address">
                        <div>
                            <label>Password</label><br>
                            <input type="password" placeholder="Enter your password">
                        </div>
                        <div>
                            <label>Repeat Password</label><br>
                            <input type="password" placeholder="Confirm Password">
                        </div>
                        <span>By continuing, you confirm you've read and agree to our <a
                                style="color: blue; font-size: small;" href="terms.html">Terms and conditions</a> and
                            our
                            <a style="color: blue; font-size: small;" href="privacy.html">Privacy policy</a></span><br>

                        <button class="register-btn">Submit</button><br>

                        <span>Already have an account?<a style="color: blue; font-size: small;" href="login.html">Log
                                in.</a></span>
                </form>
            </div>
            <div>
                <img src="images/ambulance.jpg" alt="ambulance">
            </div>
        </div>
    </main>

    <!-- FOOTER -->

    <footer>
        <div class="footer-flex">
            <div class="footer-right">
                <a href="index.html" class="logo">KitereSafety</a>

            </div>
            <div class="footer-left">
                <div class="left-right">
                    <a href="blog.html">Community</a>
                    <a href="report-home.html">Report</a>
                    <a href="about.html">About</a>
                    <a href="careers.html">Careers</a>
                </div>
                <div class="left-left">
                    <a href="privacy.html">Privacy</a>
                    <a href="terms.html">Terms</a>
                </div>
            </div>
        </div>
        <div class="social-media-links">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
        <p>&copy;KitereSafety 2024</p>
    </footer>

    <script>

        var navLinks = document.getElementById("navLinks");
        function showMenu() {
            navLinks.style.right = "0";
        }
        function hideMenu() {
            navLinks.style.right = "-200px";
        }

    </script>
</body>

</html>